<nav class="assignment-nav">
  {{#link-to "person.assignment" person previousAssignment classNames="grey button icon-only"}}
    <i class="previous icon">Previous</i>
  {{/link-to}}
  {{#link-to "index"classNames="grey button icon-only"}}
    <i class="index icon">Index</i>
  {{/link-to}}
  <span class="text">
    <strong>
      {{person.name}}:
    </strong>
    {{localized-date round.startsOn}}
    –
    {{localized-date round.endsOn}}
  </span>
  {{#link-to "person.assignment" person nextAssignment classNames="grey button icon-only last"}}
    <i class="next icon">Next</i>
  {{/link-to}}
</nav>
<div class="assignment-image">
  <img {{bind-attr src=duty.imageUrl alt=duty.name}} />
</div>
<h1 class="assignment-name">{{duty.name}}</h1>