<table class="schedule">
  <thead>
    <tr>
      <td></td>
      {{#each}}
        <td>
          {{#link-to 'person' this}}
            {{name}}
          {{/link-to}}
        </td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rounds}}
      <tr>
        <td>{{localized-date startsOn}}</td>
        {{#each assignments}}
          <td>
            {{#link-to 'person.assignment' person this}}
              {{#if duty.iconUrl}}
                <img {{bind-attr src=duty.iconUrl}} />
              {{else}}
                {{duty.name}}
              {{/if}}
            {{/link-to}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>