{{#app-layout title=title}}

  {{#simple-form for=this action="submit" as |f|}}
    <div class="row space-below space-above-all">
      <div class="column size-6">
        {{input-on f "name"}}
      </div>
    </div>
    <div class="row space-below">
      <div class="column size-6">
        {{input-on f "startsOn"}}
      </div>
      <div class="column size-6">
        <div class="row narrow without-margin">
          <div class="column size-6">
            {{input-on f "interval"}}
          </div>
          <div class="column size-6">
            {{input-on f "intervalUnit" collection=units label=false}}
          </div>
        </div>
      </div>
    </div>





    <h2>{{t "schedules.edit.people"}}</h2>
    <ul>
      {{#each model.people as |person|}}
        {{#unless person._destroy}}
          {{schedule-form/person model=person parentForm=f}}
        {{/unless}}
      {{/each}}
    </ul>
    <button {{action "addPerson"}} type="button">
      {{t "schedules.edit.addPerson"}}
    </button>

    <h2>{{t "schedules.edit.duties"}}</h2>
    <ul>
      {{#each model.duties as |duty|}}
        {{#unless duty._destroy}}
          {{schedule-form/duty model=duty parentForm=f}}
        {{/unless}}
      {{/each}}
    </ul>
    <button {{action "addDuty"}} type="button">
      {{t "schedules.edit.addDuty"}}
    </button>

    {{submit-on f}}
  {{/simple-form}}

{{/app-layout}}
